.background-imagem {;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-radius: 100;
    -fx-border-color: linear-gradient(to right, #1f2a62, #532c89, #cd3bca);
    -fx-border-radius: 100;
}

.background-button {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-background-insets: 0;
    -fx-text-fill: #ffffff;
}